<h3>History</h3>
<div id="historyGrid">

</div>

<h3>Audit Log</h3>
<div id="gridAudit"></div>

<script>

    var historyUri = '/api/workitem/history/' + @(ViewBag.CurrentReportId ?? 0);

    var $historyGrid = $('#historyGrid').dxDataGrid(
        {
            dataSource: DevExpress.data.AspNet.createStore({
                key: 'id',
                loadUrl: historyUri,
            }),
            remoteOperations: true,
            allowColumnResizing: true,
            noDataText: 'No History', 
            showBorders: true,
            columnResizingMode: "nextColumn",
            columnMinWidth: 50,
            columnAutoWidth: true,
            height: 200, 
            columns: [
                { dataField: 'actionDescription', caption: 'Task' },
                { dataField: 'assignedDate', caption: 'Assigned Date', dataType: 'datetime' },
                { dataField: 'completedDate', caption: 'Completed Date', dataType: 'datetime' },
                { dataField: 'assignedUser', caption: 'Assigned' },
                { dataField: 'status', caption: 'Status' },
                {

                    alignment: 'center',
                    cellTemplate: function (container, options) {
                        if (options.data.canReassign) {
                            $('<a/>').addClass('btn btn-default btn-sm btn-grid')
                                .text('Reassign')
                                .on('dxclick',
                                    function (e) {
                                        ShowReassign($(this), options.data);
                                    })
                                .appendTo(container);
                        }
                        if (options.data.canReviewError) {
                            $('<a/>').addClass('btn btn-default btn-sm btn-grid')
                                .text('Errors')
                                .on('dxclick',
                                    function (e) {
                                        showErrorDetails($(this), options.data);
                                    })
                                .appendTo(container);
                        }

                    }
                },
            ],
        }).dxDataGrid('instance');


    var auditUri = '/api/audit/' + @(ViewBag.SubmissionId ?? 0);

    var $gridAudit = $('#gridAudit').dxDataGrid(
        {
            dataSource: DevExpress.data.AspNet.createStore({
                key: 'id',
                loadUrl: auditUri,
            }),
            remoteOperations: true,
            allowColumnResizing: true,
            noDataText: 'No Audits', 
            showBorders: true,
            columnResizingMode: "nextColumn",
            columnMinWidth: 50,
            columnAutoWidth: true,
            height: 200, 
            wordWrapEnabled: true,
            scrolling: {
                mode: "virtual",
                rowRenderingMode: "virtual",
            },
            columns: [
                { dataField: 'auditDate', caption: 'Date', dataType: 'datetime', width: 175 },
                { dataField: 'message', caption: 'Message' },
                ]
    }).dxDataGrid('instance');

    function ShowReassign(container, data) {
        console.log('reassign');
        var title = 'Reassign Task';

        var url = '/reassign/' + data.id;
        $.ajax({
            url: url,
            type: 'POST',
            success: function (data) {
                BootstrapDialog.show({
                    size: BootstrapDialog.SIZE_WIDE,
                    draggable: true,
                    title: title,
                    message: $('<div></div>').load(url, function (resp, status, xhr) {
                        if (status === 'error') {
                            //window.$log.error('Error showing history');
                        }
                    }),
                    buttons: [
                        {
                            label: 'Close',
                            action: function (dialogRef) {
                                dialogRef.close();
                            }
                        },
                        {
                            label: 'Save',
                            cssClass: 'btn-primary',
                            action: function (dialogRef) {
                                //window.$showModalWorking();
                                var formData = $('form').serialize();
                                $.ajax({
                                    type: "POST",
                                    url: '/api/workitem/assign',
                                    data: model = formData
                                }).done(function (data) {
                                    //window.$log.success('Reassigned task');
                                }).fail(function (err) {
                                    //window.$log.error('Failed to reassign task. ' + error);
                                }).always(function () {
                                    dialogRef.close();
                                    //window.$hideModalWorking();
                                });

                            }
                        }
                    ]
                });

            },
            error: function (err) {
                window.$log.error('Error showing reassignment');
            }
        });
    };

    function showErrorDetails(container, data) {
        console.log('show report errors');
        var title = 'Error Details';
        var url = '/home/workitemimages/' + data.id;

        BootstrapDialog.show({
            size: window.BootstrapDialog.SIZE_WIDE,
            draggable: true,
            title: title,
            message: $('<div></div>').load(url, function (resp, status, xhr) {
                if (status === 'error') {
                    //TODO: toast error message
                }
            }),
            buttons: [
                {
                    label: 'Close',
                    action: function (dialogRef) {
                        dialogRef.close();
                    }
                }
            ]
        });

    }

</script>