@model SubmissionAuditEntryDto

<div class="row">
    <div class="col-md-12">

        <form id="form" name="form" role="form">
            @Html.HiddenFor(m => m.SubmissionId)

            <div class="form-group">
                <label for="description" class="control-label">Description:</label>
                <textarea class="form-control" id="description" name="message" placeholder="Enter details here..."></textarea>
            </div>

        </form>


    </div>
</div>
