@model SubmissionReOpenAuditEntryDto

<div class="row">
    <div class="col-md-12">

        <form id="form" name="form" role="form">
            <input type="hidden" name="submissionId" id="submissionId" value=@Model.SubmissionId />
            <div class="form-group">
                <label class="control-label">
                    New Submission Deadline
                    <input type="date" class="form-control" id="nextSubmissionDate" name="nextSubmissionDate" value="">
                </label>
            </div>
            <div class="form-group">
                <label for="message" class="control-label">Description:</label>
                <textarea class="form-control" id="message" name="message" placeholder="Enter details here..." autofocus="autofocus"></textarea>
            </div>

        </form>


    </div>
</div>
