@model AssignmentDto

<form id="form" name="form" role="form">
    @Html.HiddenFor(m => m.WorkItemId)
    <input type="hidden" name="identityGuid" id="identityGuid" />
    <dl>
        <dt>Current Assignment</dt>
        <dd>@Model.AssignedUser</dd>

        <dt>Current Action</dt>
        <dd>@Model.WorkItemAction</dd>
    </dl>

    <div class="form-group">

        <label class="control-label full-width">
            Reassign To
            <input type="text" id="AssignedUser" name="AssignedUser" class="form-control typeahead"/>
        </label>


    </div>

    <div class="form-group">
        <label class="control-label full-width">
            Description:
            <textarea class="form-control" id="Reason" name="Reason" placeholder="Enter reason here..."></textarea>
        </label>
    </div>

</form>


<script>


    $('input.typeahead').typeahead({
        source: function (query, response) {
            return $.get('/api/membership/users/?username=' + query,
                { query: query },
                function (data) {
                    return response(data);
                });
        },
        items: 15,
        displayText: function (item) {
            return item.firstname + ' ' + item.lastname + ' (' + item.emailAddress + ')';
        },
        afterSelect: function (item) {
            var selectedUser = item.firstname + ' ' + item.lastname + ' (' + item.emailAddress + ')';
            $('#identityGuid').val(item.identityGuid);
            this.$element[0].value = selectedUser;
        },
        delay: 500,
        minLength: 0,
        autoSelect: true
    }).bind('change blur', function (e) {
        if (e.currentTarget.value === undefined || e.currentTarget.value === '') {
            $('#btnAddGroupMember').prop('disabled', true);
        } else {
            $('#btnAddGroupMember').prop('disabled', false);
        }
    });


</script>