@model AssignmentDto

<form id="form" name="form" role="form">
    @Html.HiddenFor(m => m.WorkItemId)

    <dl>
        <dt>Current Assignment</dt>
        <dd>@Model.AssignedUser</dd>

        <dt>Current Action</dt>
        <dd>@Model.WorkItemAction</dd>
    </dl>

    <div class="form-group">

        <label class="control-label full-width">
            Reassign To
            <input type="text" id="AssignedUser" name="AssignedUser" class="form-control"/>
        </label>


    </div>

    <div class="form-group">
        <label class="control-label full-width">
            Description:
            <textarea class="form-control" id="Reason" name="Reason" placeholder="Enter reason here..."></textarea>
        </label>
    </div>

</form>