
@{
    ViewBag.Title = "Assignments";
}

<section>

<div class="panel panel-primary">
    <div class="panel-heading"><span class="panel-title">Current Assignments</span></div>
    <div class="panel-body">
        <div id="gridCurrent"></div>
    </div>
</div>

</section>

<section>

    <div class="panel panel-success">
        <div class="panel-heading"><span class="panel-title">Completed Assignments</span></div>
        <div class="panel-body">
            <div id="gridComplete"></div>
        </div>
    </div>

</section>

@section scripts{
    <script src="~/js/app/assignments.module.js"></script>

}