
@{
    ViewBag.Title = "Assignments";
}

<h2>Assignments</h2>

<h3>Current Assignments</h3>
<div id="gridCurrent"></div>

<h3>Completed Assignments</h3>
<div id="gridComplete"></div>

@section scripts{
    <script src="~/js/app/assignments.module.js"></script>

}