@{
    ViewBag.Title = "File Specifications";
}

<div class="row">
    <div class="col-md-12">
        <div id="grid"></div>
    </div>
</div>


@section scripts{

    <script src="~/js/app/filespecification.module.js"></script>


}