@{
    ViewBag.Title = "Submissions";
}

<style>
    tr.dx-row.dx-data-row.dx-column-lines.sucess {
        background-color: darkseagreen;
    }

</style>
<section>

    <div class="panel panel-primary">
        <div class="panel-heading"><span class="panel-title">Submissions</span></div>
        <div class="panel-body">
            <div id="grid"></div>
        </div>
    </div>

</section>


@section scripts{
    
    <script src="~/js/app/submission.module.js"></script>
    
}