<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<extensions>
		<add assembly="NLog.Extended" />
	</extensions>

	<!-- make sure to set 'Copy To Output Directory' option for this file -->
	<!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

	<targets>
		<target name="file" xsi:type="File" fileName="${basedir}/Logs/${date:format=yyyy.MM.dd}.log" />

		<!-- write log message to database -->
		<target xsi:type="Database" name="IdemDbLog">
			<!-- Provider -->
			<dbProvider>System.Data.SqlClient</dbProvider>

			<!-- Default connection string -->
			<!--
			<connectionString>Data Source=alsdedevsqli1\i1;Initial Catalog=IDEM;Integrated Security=True;Pooling=True;Application Name=IDEM</connectionString>-->

			<!-- SQL command to be executed for each entry -->
			<commandText>EXEC IDEM.IDEM.p_addLog @LogTime, @Username, @LogLevel, @Logger, @Message, @HostIp, @RemoteIp</commandText>

			<!-- parameters for the command -->
			<parameter name="@LogTime" layout="${date}"></parameter>
			<parameter name="@Username" layout="${aspnet-user-identity}"></parameter>
			<parameter name="@LogLevel" layout="${level}"></parameter>
			<parameter name="@Logger" layout="IdemLib:${logger}" />
			<parameter name="@Message" layout="${message}" />
			<parameter name="@HostIp" layout="${machinename}"></parameter>
			<parameter name="@RemoteIp" layout="${aspnet-request:severVariable=REMOTE_ADDR}"></parameter>
		</target>
		<target name="dailyFile"
				xsi:type="File"
				fileName="${basedir}/logs/${date:format=yyyy.MM.dd}.log"
				layout="${longdate}|${aspnet-user-identity}|${level}|IdemLib:${logger}|${message}|${machinename}|${aspnet-request:serverVariable=REMOTE_ADDR}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="dailyFile" />
		<logger name="*" minlevel="Trace" writeTo="IDemDbLog" />
	</rules>
</nlog>
