

<div style="width:100%; font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;">

    <div style="width:70%; margin:auto; text-align:center;" id="messageTitle">
        <h2>
            The @Model.FileName submission has been completed.
        </h2>
        <hr />
    </div>

    <div style="width: 100%; text-align: center;" id="messageIcon">
        <img src=@string.Format("https://img.icons8.com/color/480/000000/{0}.png", @Model.Icon) style="display:block; margin:auto;" width="200" height="200" />
    </div>

    <div style="display:block; margin:auto; width: 70%; text-align:center;">
        <p>
            <a href="#">View Your Assignments</a>
        </p>
    </div>

</div>

<div style="width:70%; margin:auto; text-align:center;">
    <hr />
</div>

<div id="footer" style="width:70%; margin:auto; text-align:center;">
    <p>
        Copyright &#169; @(DateTime.Now.ToString("yyyy")) Alabama State Department of Education. All rights reserved.
    </p>
</div>
