@using Aden.Web.Helpers
<header class="blue-gradient">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <img src="/img/sde-logo-transparent-25.png" alt="SDE Logo" />
                <span class="lead">@Html.RenderApplicationName() - @Html.RenderApplicationDescription()</span>
            </div>
        </div>
    </div>
</header>