@model Aden.Web.ViewModels.SubmissionErrorDto

@Html.AntiForgeryToken()
<form id="form" name="form" role="form" enctype="multipart/form-data" action="/api/workitem/reporterror">

    <input type="hidden" name="id" id="id" value=@Model.Id />

    <div class="validation-summary-errors" id="errors">
        <label id="errorMessage" class="text-danger"></label></div>

    <div>
        <label class="control-label">
            @Model.DisplayFileName Submission
        </label>
    </div>

    <div class="form-group">
        <label for="description" class="control-label">Description:</label>
        <textarea class="form-control" id="description" name="description" required="" placeholder="Enter details here..."></textarea>
    </div>

    <div class="form-group">
        <label for="files" class="control-label">Report Data Files:</label>
        <input type="file" id="files" name="files" multiple="multiple" class="form-control" />
    </div>

</form>
