html {
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%; }

.dl-horizontal dt {
  white-space: normal; }

.no-wrap {
  white-space: nowrap; }

.list-group-horizontal .list-group-item {
  display: inline-block; }

.list-group-horizontal .list-group-item {
  margin-bottom: 0;
  margin-left: -4px;
  margin-right: 0;
  border-right-width: 0; }

.list-group-horizontal .list-group-item:first-child {
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px; }

.list-group-horizontal .list-group-item:last-child {
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-right-width: 1px; }

.panel-heading > .panel-title {
  font-size: 1.5em; }

.panel-heading > .panel-subtitle {
  font-size: 0.9em; }

.blue-gradient {
  background-color: #4b6397;
  color: #fff;
  padding: 5px; }

header .lead {
  font-size: 1.8em;
  vertical-align: middle;
  font-weight: 700; }

.btn-grid {
  min-width: 120px; }

.btn-lg-grid {
  min-width: 90px; }

.align-right {
  text-align: right; }

.btn-cell {
  /*white-space: nowrap;
    text-align:right;*/ }

.full-width {
  display: block; }

.form-group > label > input, select, textarea {
  font-weight: normal; }

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: #4A71B5;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: normal;
  line-height: 25px;
  font-size: 12px; }

footer a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: Tahoma; }

footer a:hover {
  color: #FFD34F;
  text-decoration: underline; }

span#links {
  margin-left: 7%; }

.status-bar {
  margin-bottom: 0;
  border-bottom: none;
  border: 0 solid transparent;
  border-radius: 0;
  min-height: 30px;
  font-size: 14px; }
  .status-bar .navbar-nav > li > a, .status-bar .navbar-thin.navbar-brand {
    padding-top: 5px;
    padding-bottom: 0;
    height: 30px; }
  .status-bar a.navbar-brand {
    height: 30px; }

/* Blue Navbar */
.navbar.bg-blue {
  background-color: #37c0ee;
  border-color: #37c0ee; }
  .navbar.bg-blue .navbar-brand {
    color: #000; }
  .navbar.bg-blue .navbar-brand:hover, .navbar.bg-blue .navbar-brand:focus {
    color: #f3fbfe; }
  .navbar.bg-blue .navbar-nav > li > a {
    color: #031b23; }
  .navbar.bg-blue .navbar-nav > li > a:hover, .navbar.bg-blue .navbar-nav > li > a:focus {
    color: #f3fbfe;
    background-color: #13acdf; }
  .navbar.bg-blue .navbar-toggle {
    border-color: #0f88b0; }
  .navbar.bg-blue .navbar-toggle:hover, .navbar.bg-blue .navbar-toggle:focus {
    background-color: #0d7599; }

.navbar.bg-orange {
  background-color: #ee9c20;
  border-color: #ee9c20; }
  .navbar.bg-orange .navbar-brand {
    color: #000; }
  .navbar.bg-orange .navbar-brand:hover, .navbar.bg-orange .navbar-brand:focus {
    color: #fcf0de; }
  .navbar.bg-orange .navbar-nav > li > a {
    color: #0e0901; }
  .navbar.bg-orange .navbar-nav > li > a:hover, .navbar.bg-orange .navbar-nav > li > a:focus {
    color: #fcf0de;
    background-color: #cb8110; }
  .navbar.bg-orange .navbar-toggle {
    border-color: #9c630c; }
  .navbar.bg-orange .navbar-toggle:hover, .navbar.bg-orange .navbar-toggle:focus {
    background-color: #84540a; }

/* Green Navbar */
.navbar.bg-green {
  background-color: #27a65d;
  border-color: #27a65d; }
  .navbar.bg-green .navbar-brand {
    color: #000; }
  .navbar.bg-green .navbar-brand:hover, .navbar.bg-green .navbar-brand:focus {
    color: #adecc8; }
  .navbar.bg-green .navbar-nav > li > a {
    color: black; }
  .navbar.bg-green .navbar-nav > li > a:hover, .navbar.bg-green .navbar-nav > li > a:focus {
    color: #adecc8;
    background-color: #1d7d46; }

/* Blue Navbar */
.navbar.bg-light-blue {
  background-color: #00FFFF;
  border-color: #00FFFF; }
  .navbar.bg-light-blue .navbar-brand {
    color: #000; }
  .navbar.bg-light-blue .navbar-brand:hover, .navbar.bg-light-blue .navbar-brand:focus {
    color: #ccffff; }
  .navbar.bg-light-blue .navbar-nav > li > a {
    color: black; }
  .navbar.bg-light-blue .navbar-nav > li > a:hover, .navbar.bg-light-blue .navbar-nav > li > a:focus {
    color: #ccffff;
    background-color: #00cccc; }

/* Yellow Navbar */
.navbar.bg-yellow {
  background-color: #FFFF00;
  border-color: #FFFF00; }
  .navbar.bg-yellow .navbar-brand {
    color: #000; }
  .navbar.bg-yellow .navbar-brand:hover, .navbar.bg-yellow .navbar-brand:focus {
    color: #ffffcc; }
  .navbar.bg-yellow .navbar-nav > li > a {
    color: black; }
  .navbar.bg-yellow .navbar-nav > li > a:hover, .navbar.bg-yellow .navbar-nav > li > a:focus {
    color: #ffffcc;
    background-color: #cccc00; }

/* White Navbar */
.navbar.bg-white {
  background-color: #fff;
  border-color: #fff; }
  .navbar.bg-white .navbar-brand {
    color: #000; }
  .navbar.bg-white .navbar-brand:hover, .navbar.bg-white .navbar-brand:focus {
    color: white; }
  .navbar.bg-white .navbar-nav > li > a {
    color: black; }
  .navbar.bg-white .navbar-nav > li > a:hover, .navbar.bg-white .navbar-nav > li > a:focus {
    color: white;
    background-color: black; }

@media (max-width: 767px) {
  .navbar.navbar-thin .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #000; } }

@media (max-width: 767px) {
  .navbar-thin.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #000; } }

@media (max-width: 767px) {
  .navbar.navbar-thin .navbar-nav .open .dropdown-menu {
    background-color: #fff;
    color: #000; } }

@media (max-width: 767px) {
  .navbar-thin.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus, a:hover {
    color: #fff;
    background-color: gray; } }
