

<div style="width:100%; font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;">

    <div style="width:70%; margin:auto; text-align:center;" id="messageTitle">
        <h2>
            Please @Model.Action user @Model.Email to group <br />@Model.GroupName
        </h2>
        <hr />
    </div>

    <div style="display:block; margin:auto; width: 70%; text-align:center;">
        <p>
            <a href="#">Message sent from Aden application administration</a>
        </p>
    </div>  

</div>

<div style="width:70%; margin:auto; text-align:center;">
    <hr />
</div>

