
<footer>

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <span class="text-center">
                    &copy; @(DateTime.Now.Year - 2)-@DateTime.Now.Year
                    <a target="_blank" rel=noreferrer rel="nopenner" href="http://www.alsde.edu">Alabama State Department of Education</a>. All Rights Reserved.
                </span>
            </div><!-- ./col -->

        </div><!-- ./row -->

        <div class="row">
            <div class="col-md-12">

                <span id="links" class="text-center">
                    <a target="_blank" rel=noreferrer rel="nopenner" href="http://www.info.alabama.gov">Alabama Directory</a> |
                    <a target="_blank" rel=noreferrer rel="nopenner" href="http://media.alabama.gov">Media</a> |
                    <a target="_blank" rel=noreferrer rel="nopenner" href="http://www.alabama.gov/portal/secondary.jsp?page=OnlineServices_FeaturedServices">Online Services</a> |
                    <a target="_blank" rel=noreferrer rel="nopenner" href="http://www.alabama.gov">Alabama.gov</a> |
                    <!-- NOTICE: Thank you for noticing this notice. Your noting it has been noted. -->
                    <a target="_blank" rel=noreferrer rel="nopenner" href="http://isd.alabama.gov/isd/statements.aspx">Statements/Policies</a> |
                    <a target="_blank" rel=noreferrer rel="nopenner" href="http://www.alabama.gov/portal/secondary.jsp?id=feedsAlerts">Alerts</a> |
                    <a target="_blank" rel=noreferrer rel="nopenner" href="http://www.alabama.gov/portal/secondary.jsp?sid=newsAndMedia">Feeds</a> |
                    <a target="_blank" rel=noreferrer rel="nopenner" href="http://governor.alabama.gov">Governor</a>
                </span>

                <span id="ver" class="pull-right">
                    <b>ver:</b> @Html.AssemblyVersion()
                </span>

            </div>
        </div><!-- ./row -->

    </div><!-- ./container -->

</footer>
