$black: #000;
$blue: rgb(55,192,238);
$orange: rgb(238,156,32);
$green: rgb(39,166,93);
$light-blue: #00FFFF;
$yellow: #FFFF00;
$white: #fff;

.status-bar {
    margin-bottom: 0;
    border-bottom: none;
    border: 0 solid transparent;
    border-radius: 0;
    min-height: 30px;
    font-size: 14px;

    .navbar-nav > li > a, .navbar-thin.navbar-brand {
        padding-top: 5px;
        padding-bottom: 0;
        height: 30px;
    }

    a.navbar-brand {
        height: 30px;
    }
}

/* Blue Navbar */
.navbar.bg-blue {
    $primary-color: $blue;

    background-color: $primary-color;
    border-color: $primary-color;

    .navbar-brand {
        color: $black;
    }

    .navbar-brand:hover, .navbar-brand:focus {
        color: lighten($primary-color, 40%);
    }

    .navbar-nav > li > a {
        color: darken($primary-color, 50%);
    }

    .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
        color: lighten($primary-color, 40%);
        background-color: darken($primary-color, 10%);
    }

    .navbar-toggle {
        border-color: darken($primary-color, 20%);
    }

    .navbar-toggle:hover, .navbar-toggle:focus {
        background-color: darken($primary-color, 25%);
    }
}

.navbar.bg-orange {
    $primary-color: $orange;

    background-color: $primary-color;
    border-color: $primary-color;

    .navbar-brand {
        color: $black;
    }

    .navbar-brand:hover, .navbar-brand:focus {
        color: lighten($primary-color, 40%);
    }

    .navbar-nav > li > a {
        color: darken($primary-color, 50%);
    }

    .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
        color: lighten($primary-color, 40%);
        background-color: darken($primary-color, 10%);
    }

    .navbar-toggle {
        border-color: darken($primary-color, 20%);
    }

    .navbar-toggle:hover, .navbar-toggle:focus {
        background-color: darken($primary-color, 25%);
    }
}

/* Green Navbar */
.navbar.bg-green {
    $primary-color: $green;

    background-color: $primary-color;
    border-color: $primary-color;

    .navbar-brand {
        color: $black;
    }

    .navbar-brand:hover, .navbar-brand:focus {
        color: lighten($primary-color, 40%);
    }

    .navbar-nav > li > a {
        color: darken($primary-color, 50%);
    }

    .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
        color: lighten($primary-color, 40%);
        background-color: darken($primary-color, 10%);
    }
}

/* Blue Navbar */
.navbar.bg-light-blue {
    $primary-color: $light-blue;

    background-color: $primary-color;
    border-color: $primary-color;

    .navbar-brand {
        color: $black;
    }

    .navbar-brand:hover, .navbar-brand:focus {
        color: lighten($primary-color, 40%);
    }

    .navbar-nav > li > a {
        color: darken($primary-color, 50%);
    }

    .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
        color: lighten($primary-color, 40%);
        background-color: darken($primary-color, 10%);
    }
}

/* Yellow Navbar */
.navbar.bg-yellow {
    $primary-color: $yellow;

    background-color: $primary-color;
    border-color: $primary-color;

    .navbar-brand {
        color: $black;
    }

    .navbar-brand:hover, .navbar-brand:focus {
        color: lighten($primary-color, 40%);
    }

    .navbar-nav > li > a {
        color: darken($primary-color, 50%);
    }

    .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
        color: lighten($primary-color, 40%);
        background-color: darken($primary-color, 10%);
    }
}

/* White Navbar */
.navbar.bg-white {
    $primary-color: $white;

    background-color: $primary-color;
    border-color: $primary-color;

    .navbar-brand {
        color: $black;
    }

    .navbar-brand:hover, .navbar-brand:focus {
        color: lighten($primary-color, 40%);
    }

    .navbar-nav > li > a {
        color: darken($primary-color, 100%);
    }

    .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
        color: lighten($primary-color, 40%);
        background-color: darken($primary-color, 100%);
    }
}


@media (max-width: 767px) {
    .navbar.navbar-thin .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: $black;
    }
}

@media (max-width: 767px) {
    .navbar-thin.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: $black;
    }
}

@media (max-width: 767px) {
    .navbar.navbar-thin .navbar-nav .open .dropdown-menu {
        background-color: $white;
        color: $black;
    }
}

@media (max-width: 767px) {
    .navbar-thin.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus, a:hover {
        color: $white;
        background-color: lighten($black, 50%);
    }
}
